<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_UpdateDownloadLinks>
            <version>0.0.3</version>
            <depends>
                <Mage_Catalog/>
            </depends>
        </ProxiBlue_UpdateDownloadLinks>
    </modules>
    <global>
        <models>
            <updatedownloadlinks>
                <class>ProxiBlue_UpdateDownloadLinks_Model</class>
            </updatedownloadlinks>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <updatedownloadlinks>
                       <type>singleton</type>
                       <class>updatedownloadlinks/observer</class>
                       <method>catalog_product_save_after</method>
                    </updatedownloadlinks>
                </observers>
            </catalog_product_save_after>
        </events>      
    </global>
</config>
